.reviewlist-list {
    list-style-type: none;
    margin-top: 8px;

    p {
        margin: 0;
    }

    .reviewlist-item-container {
        display: grid;
        padding: 4px;
        width: 70%;
        border: 1px solid black;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "name name name info stars"
        "desc desc desc desc stars";

        .reviewlist-item-ranking {
            padding: 8px;
        }

        .reviewlist-item-info {
            grid-area: info;
        }

        .reviewlist-item-description {
            grid-area: desc;
            font-size: .8em;
            display: flex;
            align-items: center;
        }

        .reviewlist-item-stars {
            grid-area: stars;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid black;
            position: relative;

             .delete-btn {
                 position: absolute;
                 top: 0;
                 right: 0;
                 padding: 2px 4px;
                 cursor: pointer;
                 z-index: 10;
             }
        }

        .reviewlist-item-name {
            padding: 8px 0;
            grid-area: name;

            .reviewlist-name {
                margin: 0;
            }
        }
    }
}

.reviewlist-title {
    padding-left: 40px;
}