
.app-header {
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-style: italic;
  font-size: 2.8em;
  color: #1e88e5;
  box-shadow: 3px -4px 15px 0px rgba(0,0,0,0.75);
}

.app-container {
  display: flex;
  flex-direction: column;

  .inner-app-container {
    width: 100%;
    display: flex;
  }
  .left-section {
    width: 30%;
    min-width: 30%;
    max-width: 30%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .right-section {
    width: 70%;
    min-width: 70%;
    max-width: 70%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 500px) {
  .app-container {
    .left-section {
      display: none;
    }
    .right-section {
      width: 100%;
      max-width: 100%;
    }
  }
}


* {
  font-family: 'Arvo', serif;
}

.topfive-title {
  padding-left: 40px;
  font-size: 1.6em;
  color: #00701a;
}

.fa-star:hover {
  color: #42a5f5;
}

.fa-star-half:hover {
  color: #42a5f5;
}