
.app-header {
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-style: italic;
  font-size: 2.8em;
  color: #1e88e5;
}

.app-container {
  display: flex;
  flex-direction: column;

  .inner-app-container {
    width: 100%;
    display: flex;
  }
  .left-section {
    width: 30%;
    min-width: 30%;
    max-width: 30%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .right-section {
    width: 70%;
    min-width: 70%;
    max-width: 70%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

}


* {
  font-family: 'Arvo', serif;
}