service: review-app2
provider:
  name: aws
  runtime: nodejs12.x
  iamRoleStatements:
  - Effect: Allow
    Action:
      - dynamodb:PutItem
      - dynamodb:Scan
      - dynamodb:DeleteItem
      - dynamodb:UpdateItem
    Resource: '*'

functions:
  editOrderV2:
    handler: editorder.run
    events:        
    - http:            
        path: editorder           
        method: post
        cors:
          origins:
            - "*"