.topfive-list {
    list-style-type: none;
    width: 80%;
    // border: 1px solid black;
    border-radius: 8px;
    margin: 8px 0;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(94,93,94,0.37);
    -moz-box-shadow: 3px 3px 5px 0px rgba(94,93,94,0.37);
    box-shadow: 3px 2px 5px 2px rgba(94, 93, 94, 0.37);
    // border-top: 1px solid lightgrey;


    .topfive-item-container {
        display: flex;

        .topfive-item-ranking {
            padding: 8px;
            background-color: #00701a;
            color: white;
            width: 20px;
            text-align: center;
            font-weight: 800;
            border-radius: 8px 0 0 8px;
        }

        .topfive-item-name {
            padding: 8px 0;
            width: 100%;
            // background-color: #ffdd72;
            // color: white;
            font-weight: 800;
            padding-left: 20px;
            border-radius: 0 8px 8px 0;
        }
    }
}

.topfive-title {
    padding-left: 40px;
    font-size: 1.6em;
    color: #00701a;
}